In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
df_auto = pd.read_csv("Auto_Insurance_Claims_amount.csv")
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,US,KS,Kansas,276.351928,No,Basic,Bachelor,2/24/11,Employed,...,5,0,1,Corporate Auto,Corporate L3,Collision,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,US,NE,Nebraska,697.953590,No,Extended,Bachelor,1/31/11,Unemployed,...,42,0,8,Personal Auto,Personal L3,Scratch/Dent,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,US,OK,Oklahoma,1288.743165,No,Premium,Bachelor,2/19/11,Employed,...,38,0,2,Personal Auto,Personal L3,Collision,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,US,MO,Missouri,764.586183,No,Basic,Bachelor,1/20/11,Unemployed,...,65,0,7,Corporate Auto,Corporate L2,Collision,Call Center,529.881344,SUV,Medsize
4,HB64268,US,KS,Kansas,281.369258,No,Basic,Bachelor,2/3/11,Employed,...,44,0,1,Personal Auto,Personal L1,Collision,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,US,MO,Missouri,2340.598798,No,Basic,Bachelor,2/10/11,Employed,...,89,0,2,Personal Auto,Personal L1,Hail,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,US,MO,Missouri,309.651122,Yes,Extended,College,2/12/11,Employed,...,28,0,1,Corporate Auto,Corporate L3,Collision,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,US,MO,Missouri,816.389043,No,Extended,Bachelor,2/6/11,Unemployed,...,37,3,2,Corporate Auto,Corporate L2,Collision,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,US,MO,Missouri,752.444244,No,Extended,College,2/3/11,Employed,...,3,0,3,Personal Auto,Personal L2,Scratch/Dent,Branch,691.200000,Four-Door Car,Large
9133,Y167826,US,MO,Missouri,261.183687,No,Extended,College,2/14/11,Unemployed,...,90,0,1,Corporate Auto,Corporate L3,Other,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
df_auto.columns

Index(['Customer', 'Country', 'State Code', 'State', 'Claim Amount',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Claim Reason',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [4]:
df_auto.shape

(9134, 26)

# EDA

In [5]:
df_auto.isnull().sum()

Customer                         0
Country                          0
State Code                       0
State                            0
Claim Amount                     0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Claim Reason                     0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [6]:
label_encoder = preprocessing.LabelEncoder()

In [7]:
df_auto['Country']=label_encoder.fit_transform(df_auto['Country'])

In [8]:
df_auto['Country'].unique()

array([0])

In [9]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,0,KS,Kansas,276.351928,No,Basic,Bachelor,2/24/11,Employed,...,5,0,1,Corporate Auto,Corporate L3,Collision,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,0,NE,Nebraska,697.953590,No,Extended,Bachelor,1/31/11,Unemployed,...,42,0,8,Personal Auto,Personal L3,Scratch/Dent,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,0,OK,Oklahoma,1288.743165,No,Premium,Bachelor,2/19/11,Employed,...,38,0,2,Personal Auto,Personal L3,Collision,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,0,MO,Missouri,764.586183,No,Basic,Bachelor,1/20/11,Unemployed,...,65,0,7,Corporate Auto,Corporate L2,Collision,Call Center,529.881344,SUV,Medsize
4,HB64268,0,KS,Kansas,281.369258,No,Basic,Bachelor,2/3/11,Employed,...,44,0,1,Personal Auto,Personal L1,Collision,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,0,MO,Missouri,2340.598798,No,Basic,Bachelor,2/10/11,Employed,...,89,0,2,Personal Auto,Personal L1,Hail,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,0,MO,Missouri,309.651122,Yes,Extended,College,2/12/11,Employed,...,28,0,1,Corporate Auto,Corporate L3,Collision,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,0,MO,Missouri,816.389043,No,Extended,Bachelor,2/6/11,Unemployed,...,37,3,2,Corporate Auto,Corporate L2,Collision,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,0,MO,Missouri,752.444244,No,Extended,College,2/3/11,Employed,...,3,0,3,Personal Auto,Personal L2,Scratch/Dent,Branch,691.200000,Four-Door Car,Large
9133,Y167826,0,MO,Missouri,261.183687,No,Extended,College,2/14/11,Unemployed,...,90,0,1,Corporate Auto,Corporate L3,Other,Call Center,369.600000,Two-Door Car,Medsize

In [10]:
df_auto['State Code']=label_encoder.fit_transform(df_auto['State Code'])

In [11]:
df_auto['State Code'].unique()

array([1, 3, 4, 2, 0])

In [12]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,0,1,Kansas,276.351928,No,Basic,Bachelor,2/24/11,Employed,...,5,0,1,Corporate Auto,Corporate L3,Collision,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,0,3,Nebraska,697.953590,No,Extended,Bachelor,1/31/11,Unemployed,...,42,0,8,Personal Auto,Personal L3,Scratch/Dent,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,0,4,Oklahoma,1288.743165,No,Premium,Bachelor,2/19/11,Employed,...,38,0,2,Personal Auto,Personal L3,Collision,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,0,2,Missouri,764.586183,No,Basic,Bachelor,1/20/11,Unemployed,...,65,0,7,Corporate Auto,Corporate L2,Collision,Call Center,529.881344,SUV,Medsize
4,HB64268,0,1,Kansas,281.369258,No,Basic,Bachelor,2/3/11,Employed,...,44,0,1,Personal Auto,Personal L1,Collision,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,0,2,Missouri,2340.598798,No,Basic,Bachelor,2/10/11,Employed,...,89,0,2,Personal Auto,Personal L1,Hail,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,0,2,Missouri,309.651122,Yes,Extended,College,2/12/11,Employed,...,28,0,1,Corporate Auto,Corporate L3,Collision,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,0,2,Missouri,816.389043,No,Extended,Bachelor,2/6/11,Unemployed,...,37,3,2,Corporate Auto,Corporate L2,Collision,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,0,2,Missouri,752.444244,No,Extended,College,2/3/11,Employed,...,3,0,3,Personal Auto,Personal L2,Scratch/Dent,Branch,691.200000,Four-Door Car,Large
9133,Y167826,0,2,Missouri,261.183687,No,Extended,College,2/14/11,Unemployed,...,90,0,1,Corporate Auto,Corporate L3,Other,Call Center,369.600000,Two-Door Car,Medsize

In [13]:
df_auto['State']=label_encoder.fit_transform(df_auto['State'])

In [14]:
df_auto['State'].unique()

array([1, 3, 4, 2, 0])

In [15]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,0,1,1,276.351928,No,Basic,Bachelor,2/24/11,Employed,...,5,0,1,Corporate Auto,Corporate L3,Collision,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,0,3,3,697.953590,No,Extended,Bachelor,1/31/11,Unemployed,...,42,0,8,Personal Auto,Personal L3,Scratch/Dent,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,0,4,4,1288.743165,No,Premium,Bachelor,2/19/11,Employed,...,38,0,2,Personal Auto,Personal L3,Collision,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,0,2,2,764.586183,No,Basic,Bachelor,1/20/11,Unemployed,...,65,0,7,Corporate Auto,Corporate L2,Collision,Call Center,529.881344,SUV,Medsize
4,HB64268,0,1,1,281.369258,No,Basic,Bachelor,2/3/11,Employed,...,44,0,1,Personal Auto,Personal L1,Collision,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,0,2,2,2340.598798,No,Basic,Bachelor,2/10/11,Employed,...,89,0,2,Personal Auto,Personal L1,Hail,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,0,2,2,309.651122,Yes,Extended,College,2/12/11,Employed,...,28,0,1,Corporate Auto,Corporate L3,Collision,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,0,2,2,816.389043,No,Extended,Bachelor,2/6/11,Unemployed,...,37,3,2,Corporate Auto,Corporate L2,Collision,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,0,2,2,752.444244,No,Extended,College,2/3/11,Employed,...,3,0,3,Personal Auto,Personal L2,Scratch/Dent,Branch,691.200000,Four-Door Car,Large
9133,Y167826,0,2,2,261.183687,No,Extended,College,2/14/11,Unemployed,...,90,0,1,Corporate Auto,Corporate L3,Other,Call Center,369.600000,Two-Door Car,Medsize

In [16]:
df_auto.dtypes

Customer                          object
Country                            int64
State Code                         int64
State                              int64
Claim Amount                     float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Claim Reason                      object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [17]:
df_auto['Response']=label_encoder.fit_transform(df_auto['Response'])

In [18]:
df_auto['Response'].unique()

array([0, 1])

In [19]:
df_auto['Coverage']=label_encoder.fit_transform(df_auto['Coverage'])

In [20]:
df_auto['Education']=label_encoder.fit_transform(df_auto['Education'])

In [21]:
df_auto['EmploymentStatus']=label_encoder.fit_transform(df_auto['EmploymentStatus'])

In [22]:
df_auto['Claim Reason']=label_encoder.fit_transform(df_auto['Claim Reason'])

In [23]:
df_auto['Sales Channel']=label_encoder.fit_transform(df_auto['Sales Channel'])

In [24]:
df_auto['Vehicle Class']=label_encoder.fit_transform(df_auto['Vehicle Class'])

In [25]:
df_auto['Vehicle Size']=label_encoder.fit_transform(df_auto['Vehicle Size'])

In [26]:
df_auto.dtypes

Customer                          object
Country                            int64
State Code                         int64
State                              int64
Claim Amount                     float64
Response                           int64
Coverage                           int64
Education                          int64
Effective To Date                 object
EmploymentStatus                   int64
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Claim Reason                       int64
Sales Channel                      int64
Total Claim Amount               float64
Vehicle Class                      int64
Vehicle Size                       int64
dtype: object

In [27]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,0,1,1,276.351928,0,0,0,2/24/11,1,...,5,0,1,Corporate Auto,Corporate L3,0,0,384.811147,5,1
1,QZ44356,0,3,3,697.953590,0,1,0,1/31/11,4,...,42,0,8,Personal Auto,Personal L3,3,0,1131.464935,0,1
2,AI49188,0,4,4,1288.743165,0,2,0,2/19/11,1,...,38,0,2,Personal Auto,Personal L3,0,0,566.472247,5,1
3,WW63253,0,2,2,764.586183,0,0,0,1/20/11,4,...,65,0,7,Corporate Auto,Corporate L2,0,2,529.881344,3,1
4,HB64268,0,1,1,281.369258,0,0,0,2/3/11,1,...,44,0,1,Personal Auto,Personal L1,0,0,138.130879,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,0,2,2,2340.598798,0,0,0,2/10/11,1,...,89,0,2,Personal Auto,Personal L1,1,3,198.234764,0,1
9130,PK87824,0,2,2,309.651122,1,1,1,2/12/11,1,...,28,0,1,Corporate Auto,Corporate L3,0,1,379.200000,0,1
9131,TD14365,0,2,2,816.389043,0,1,0,2/6/11,4,...,37,3,2,Corporate Auto,Corporate L2,0,1,790.784983,0,1
9132,UP19263,0,2,2,752.444244,0,1,1,2/3/11,1,...,3,0,3,Personal Auto,Personal L2,3,1,691.200000,0,0
9133,Y167826,0,2,2,261.183687,0,1,1,2/14/11,4,...,90,0,1,Corporate Auto,Corporate L3,2,2,369.600000,5,1

In [28]:
df_auto['Policy Type']=label_encoder.fit_transform(df_auto['Policy Type'])

In [29]:
df_auto['Policy']=label_encoder.fit_transform(df_auto['Policy'])

In [30]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,0,1,1,276.351928,0,0,0,2/24/11,1,...,5,0,1,0,2,0,0,384.811147,5,1
1,QZ44356,0,3,3,697.953590,0,1,0,1/31/11,4,...,42,0,8,1,5,3,0,1131.464935,0,1
2,AI49188,0,4,4,1288.743165,0,2,0,2/19/11,1,...,38,0,2,1,5,0,0,566.472247,5,1
3,WW63253,0,2,2,764.586183,0,0,0,1/20/11,4,...,65,0,7,0,1,0,2,529.881344,3,1
4,HB64268,0,1,1,281.369258,0,0,0,2/3/11,1,...,44,0,1,1,3,0,0,138.130879,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,0,2,2,2340.598798,0,0,0,2/10/11,1,...,89,0,2,1,3,1,3,198.234764,0,1
9130,PK87824,0,2,2,309.651122,1,1,1,2/12/11,1,...,28,0,1,0,2,0,1,379.200000,0,1
9131,TD14365,0,2,2,816.389043,0,1,0,2/6/11,4,...,37,3,2,0,1,0,1,790.784983,0,1
9132,UP19263,0,2,2,752.444244,0,1,1,2/3/11,1,...,3,0,3,1,4,3,1,691.200000,0,0
9133,Y167826,0,2,2,261.183687,0,1,1,2/14/11,4,...,90,0,1,0,2,2,2,369.600000,5,1

In [31]:
df_auto['Marital Status']=label_encoder.fit_transform(df_auto['Marital Status'])
df_auto['Location Code']=label_encoder.fit_transform(df_auto['Location Code'])

In [32]:
df_auto['Gender']=label_encoder.fit_transform(df_auto['Gender'])

In [33]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,0,1,1,276.351928,0,0,0,2/24/11,1,...,5,0,1,0,2,0,0,384.811147,5,1
1,QZ44356,0,3,3,697.953590,0,1,0,1/31/11,4,...,42,0,8,1,5,3,0,1131.464935,0,1
2,AI49188,0,4,4,1288.743165,0,2,0,2/19/11,1,...,38,0,2,1,5,0,0,566.472247,5,1
3,WW63253,0,2,2,764.586183,0,0,0,1/20/11,4,...,65,0,7,0,1,0,2,529.881344,3,1
4,HB64268,0,1,1,281.369258,0,0,0,2/3/11,1,...,44,0,1,1,3,0,0,138.130879,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,0,2,2,2340.598798,0,0,0,2/10/11,1,...,89,0,2,1,3,1,3,198.234764,0,1
9130,PK87824,0,2,2,309.651122,1,1,1,2/12/11,1,...,28,0,1,0,2,0,1,379.200000,0,1
9131,TD14365,0,2,2,816.389043,0,1,0,2/6/11,4,...,37,3,2,0,1,0,1,790.784983,0,1
9132,UP19263,0,2,2,752.444244,0,1,1,2/3/11,1,...,3,0,3,1,4,3,1,691.200000,0,0
9133,Y167826,0,2,2,261.183687,0,1,1,2/14/11,4,...,90,0,1,0,2,2,2,369.600000,5,1

In [34]:
df_auto.dtypes

Customer                          object
Country                            int64
State Code                         int64
State                              int64
Claim Amount                     float64
Response                           int64
Coverage                           int64
Education                          int64
Effective To Date                 object
EmploymentStatus                   int64
Gender                             int64
Income                             int64
Location Code                      int64
Marital Status                     int64
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                        int64
Policy                             int64
Claim Reason                       int64
Sales Channel                      int64
Total Claim Amount               float64
Vehicle Class                      int64
Vehicle Size                       int64
dtype: object

In [35]:
df_auto['Customer']=label_encoder.fit_transform(df_auto['Customer'])

In [36]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,600,0,1,1,276.351928,0,0,0,2/24/11,1,...,5,0,1,0,2,0,0,384.811147,5,1
1,5946,0,3,3,697.953590,0,1,0,1/31/11,4,...,42,0,8,1,5,3,0,1131.464935,0,1
2,96,0,4,4,1288.743165,0,2,0,2/19/11,1,...,38,0,2,1,5,0,0,566.472247,5,1
3,8016,0,2,2,764.586183,0,0,0,1/20/11,4,...,65,0,7,0,1,0,2,529.881344,3,1
4,2488,0,1,1,281.369258,0,0,0,2/3/11,1,...,44,0,1,1,3,0,0,138.130879,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,3857,0,2,2,2340.598798,0,0,0,2/10/11,1,...,89,0,2,1,3,1,3,198.234764,0,1
9130,5390,0,2,2,309.651122,1,1,1,2/12/11,1,...,28,0,1,0,2,0,1,379.200000,0,1
9131,6688,0,2,2,816.389043,0,1,0,2/6/11,4,...,37,3,2,0,1,0,1,790.784983,0,1
9132,7214,0,2,2,752.444244,0,1,1,2/3/11,1,...,3,0,3,1,4,3,1,691.200000,0,0
9133,8434,0,2,2,261.183687,0,1,1,2/14/11,4,...,90,0,1,0,2,2,2,369.600000,5,1

In [37]:
df_auto['Month']= df_auto['Effective To Date'].str.split('/').str[0]
df_auto['Date']= df_auto['Effective To Date'].str.split('/').str[1]
df_auto['Year']= df_auto['Effective To Date'].str.split('/').str[2]

In [38]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Month,Date,Year
0,600,0,1,1,276.351928,0,0,0,2/24/11,1,...,0,2,0,0,384.811147,5,1,2,24,11
1,5946,0,3,3,697.953590,0,1,0,1/31/11,4,...,1,5,3,0,1131.464935,0,1,1,31,11
2,96,0,4,4,1288.743165,0,2,0,2/19/11,1,...,1,5,0,0,566.472247,5,1,2,19,11
3,8016,0,2,2,764.586183,0,0,0,1/20/11,4,...,0,1,0,2,529.881344,3,1,1,20,11
4,2488,0,1,1,281.369258,0,0,0,2/3/11,1,...,1,3,0,0,138.130879,0,1,2,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,3857,0,2,2,2340.598798,0,0,0,2/10/11,1,...,1,3,1,3,198.234764,0,1,2,10,11
9130,5390,0,2,2,309.651122,1,1,1,2/12/11,1,...,0,2,0,1,379.200000,0,1,2,12,11
9131,6688,0,2,2,816.389043,0,1,0,2/6/11,4,...,0,1,0,1,790.784983,0,1,2,6,11
9132,7214,0,2,2,752.444244,0,1,1,2/3/11,1,...,1,4,3,1,691.200000,0,0,2,3,11
9133,8434,0,2,2,261.183687,0,1,1,2/14/11,4,...,0,2,2,2,369.600000,5,1,2,14,11

In [39]:
df_auto['Month']= df_auto['Month'].astype(int)
df_auto['Date']= df_auto['Date'].astype(int)
df_auto['Year']= df_auto['Year'].astype(int)

In [40]:
df_auto.dtypes

Customer                           int64
Country                            int64
State Code                         int64
State                              int64
Claim Amount                     float64
Response                           int64
Coverage                           int64
Education                          int64
Effective To Date                 object
EmploymentStatus                   int64
Gender                             int64
Income                             int64
Location Code                      int64
Marital Status                     int64
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                        int64
Policy                             int64
Claim Reason                       int64
Sales Channel                      int64
Total Claim Amount               float64
Vehicle Class                      int64
Vehicle Size                       int64
Month                              int64
Date                               int64
Year                               int64
dtype: object

In [41]:
df_auto=df_auto.drop(['Effective To Date'],axis=1)

In [42]:
df_auto

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,EmploymentStatus,Gender,...,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Month,Date,Year
0,600,0,1,1,276.351928,0,0,0,1,0,...,0,2,0,0,384.811147,5,1,2,24,11
1,5946,0,3,3,697.953590,0,1,0,4,0,...,1,5,3,0,1131.464935,0,1,1,31,11
2,96,0,4,4,1288.743165,0,2,0,1,0,...,1,5,0,0,566.472247,5,1,2,19,11
3,8016,0,2,2,764.586183,0,0,0,4,1,...,0,1,0,2,529.881344,3,1,1,20,11
4,2488,0,1,1,281.369258,0,0,0,1,1,...,1,3,0,0,138.130879,0,1,2,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,3857,0,2,2,2340.598798,0,0,0,1,1,...,1,3,1,3,198.234764,0,1,2,10,11
9130,5390,0,2,2,309.651122,1,1,1,1,0,...,0,2,0,1,379.200000,0,1,2,12,11
9131,6688,0,2,2,816.389043,0,1,0,4,1,...,0,1,0,1,790.784983,0,1,2,6,11
9132,7214,0,2,2,752.444244,0,1,1,1,1,...,1,4,3,1,691.200000,0,0,2,3,11
9133,8434,0,2,2,261.183687,0,1,1,4,1,...,0,2,2,2,369.600000,5,1,2,14,11

In [43]:
df_auto.dtypes

Customer                           int64
Country                            int64
State Code                         int64
State                              int64
Claim Amount                     float64
Response                           int64
Coverage                           int64
Education                          int64
EmploymentStatus                   int64
Gender                             int64
Income                             int64
Location Code                      int64
Marital Status                     int64
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                        int64
Policy                             int64
Claim Reason                       int64
Sales Channel                      int64
Total Claim Amount               float64
Vehicle Class                      int64
Vehicle Size                       int64
Month                              int64
Date                               int64
Year                               int64
dtype: object

In [44]:
df_auto.describe()

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,EmploymentStatus,Gender,...,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Month,Date,Year
count,9134.000000,9134.0,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,...,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.0
mean,4566.500000,0.0,1.722684,1.722684,800.494047,0.143201,0.480622,1.554084,1.825706,0.490037,...,0.825925,3.797788,1.014889,1.102693,434.088794,1.892380,1.089556,1.463762,15.461134,11.0
std,2636.903013,0.0,1.312397,1.312397,687.096761,0.350297,0.655817,1.381978,1.347793,0.499928,...,0.475989,1.605978,1.072331,1.069452,290.500092,2.072992,0.537313,0.498712,8.653770,0.0
min,0.000000,0.0,0.000000,0.000000,189.800768,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.099007,0.000000,0.000000,1.000000,1.000000,11.0
25%,2283.250000,0.0,0.000000,0.000000,399.425179,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,3.000000,0.000000,0.000000,272.258244,0.000000,1.000000,1.000000,8.000000,11.0
50%,4566.500000,0.0,2.000000,2.000000,578.018220,0.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,4.000000,1.000000,1.000000,383.945434,0.000000,1.000000,1.000000,15.000000,11.0
75%,6849.750000,0.0,3.000000,3.000000,896.216704,0.000000,1.000000,3.000000,4.000000,1.000000,...,1.000000,5.000000,2.000000,2.000000,547.514839,4.000000,1.000000,2.000000,23.000000,11.0
max,9133.000000,0.0,4.000000,4.000000,8332.538119,1.000000,2.000000,4.000000,4.000000,1.000000,...,2.000000,8.000000,3.000000,3.000000,2893.239678,5.000000,2.000000,2.000000,31.000000,11.0

In [45]:
df_x=df_auto.drop(columns=["Total Claim Amount"])
y=pd.DataFrame(df_auto["Total Claim Amount"])

In [46]:
df_x

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Vehicle Class,Vehicle Size,Month,Date,Year
0,600,0,1,1,276.351928,0,0,0,1,0,...,1,0,2,0,0,5,1,2,24,11
1,5946,0,3,3,697.953590,0,1,0,4,0,...,8,1,5,3,0,0,1,1,31,11
2,96,0,4,4,1288.743165,0,2,0,1,0,...,2,1,5,0,0,5,1,2,19,11
3,8016,0,2,2,764.586183,0,0,0,4,1,...,7,0,1,0,2,3,1,1,20,11
4,2488,0,1,1,281.369258,0,0,0,1,1,...,1,1,3,0,0,0,1,2,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,3857,0,2,2,2340.598798,0,0,0,1,1,...,2,1,3,1,3,0,1,2,10,11
9130,5390,0,2,2,309.651122,1,1,1,1,0,...,1,0,2,0,1,0,1,2,12,11
9131,6688,0,2,2,816.389043,0,1,0,4,1,...,2,0,1,0,1,0,1,2,6,11
9132,7214,0,2,2,752.444244,0,1,1,1,1,...,3,1,4,3,1,0,0,2,3,11
9133,8434,0,2,2,261.183687,0,1,1,4,1,...,1,0,2,2,2,5,1,2,14,11

In [47]:
y

      Total Claim Amount
0             384.811147
1            1131.464935
2             566.472247
3             529.881344
4             138.130879
...                  ...
9129          198.234764
9130          379.200000
9131          790.784983
9132          691.200000
9133          369.600000

[9134 rows x 1 columns]

In [48]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x = sc.fit_transform(df_x)
x = pd.DataFrame(x,columns=df_x.columns)

In [49]:
x

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,EmploymentStatus,Gender,...,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Vehicle Class,Vehicle Size,Month,Date,Year
0,-1.504309,0.0,-0.550690,-0.550690,-0.762878,-0.408822,-0.732899,-1.124597,-0.612669,-0.980269,...,-0.822648,-1.735273,-1.119497,-0.946485,-1.031138,1.499181,-0.166682,1.075304,0.986776,0.0
1,0.523180,0.0,0.973322,0.973322,-0.149245,-0.408822,0.791999,-1.124597,1.613313,-0.980269,...,2.106160,0.365732,0.748626,1.851312,-1.031138,-0.912924,-0.166682,-0.929969,1.795716,0.0
2,-1.695453,0.0,1.735328,1.735328,0.710636,-0.408822,2.316897,-1.124597,-0.612669,-0.980269,...,-0.404247,0.365732,0.748626,-0.946485,-1.031138,1.499181,-0.166682,1.075304,0.408962,0.0
3,1.308235,0.0,0.211316,0.211316,-0.052263,-0.408822,-0.732899,-1.124597,1.613313,1.020128,...,1.687759,-1.735273,-1.742204,-0.946485,0.839080,0.534339,-0.166682,-0.929969,0.524524,0.0
4,-0.788278,0.0,-0.550690,-0.550690,-0.755575,-0.408822,-0.732899,-1.124597,-0.612669,1.020128,...,-0.822648,0.365732,-0.496789,-0.946485,-1.031138,-0.912924,-0.166682,1.075304,-1.440045,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,-0.269080,0.0,0.211316,0.211316,2.241590,-0.408822,-0.732899,-1.124597,-0.612669,1.020128,...,-0.404247,0.365732,-0.496789,-0.013886,1.774189,-0.912924,-0.166682,1.075304,-0.631104,0.0
9130,0.312315,0.0,0.211316,0.211316,-0.714411,2.446054,0.791999,-0.400957,-0.612669,-0.980269,...,-0.822648,-1.735273,-1.119497,-0.946485,-0.096029,-0.912924,-0.166682,1.075304,-0.399979,0.0
9131,0.804586,0.0,0.211316,0.211316,0.023135,-0.408822,0.791999,-1.124597,1.613313,1.020128,...,-0.404247,-1.735273,-1.742204,-0.946485,-0.096029,-0.912924,-0.166682,1.075304,-1.093356,0.0
9132,1.004074,0.0,0.211316,0.211316,-0.069935,-0.408822,0.791999,-0.400957,-0.612669,1.020128,...,0.014154,0.365732,0.125919,1.851312,-0.096029,-0.912924,-2.027897,1.075304,-1.440045,0.0
9133,1.466763,0.0,0.211316,0.211316,-0.784955,-0.408822,0.791999,-0.400957,1.613313,1.020128,...,-0.822648,-1.735273,-1.119497,0.918713,0.839080,1.499181,-0.166682,1.075304,-0.168853,0.0

# Modelling

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
def maxr2_score(regr,x,y):
    max_r_score=0
    for r_state in range(42,100):
        x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=r_state,test_size=0.20)
        regr.fit(x_train,y_train)
        y_pred = regr.predict(x_test)
        r2_scr = r2_score(y_test,y_pred)
        print("r2 score corresponding to random state: ",r_state,"is: ",r2_scr)
        if r2_scr>max_r_score:
            max_r_score=r2_scr
            final_r_state=r_state 
    print("max r2 score corresponding to",final_r_state," is ",max_r_score)
    return final_r_state

In [51]:
from sklearn.linear_model import LinearRegression
lreg=LinearRegression()
r_state=maxr2_score(lreg,x,y)

r2 score corresponding to random state:  42 is:  0.6009841949930637
r2 score corresponding to random state:  43 is:  0.5766969349845856
r2 score corresponding to random state:  44 is:  0.6093160466074492
r2 score corresponding to random state:  45 is:  0.6131043981039903
r2 score corresponding to random state:  46 is:  0.5954475051936374
r2 score corresponding to random state:  47 is:  0.6207354877648804
r2 score corresponding to random state:  48 is:  0.6381793299834739
r2 score corresponding to random state:  49 is:  0.6187234247657698
r2 score corresponding to random state:  50 is:  0.5796851716362064
r2 score corresponding to random state:  51 is:  0.6156134854735538
r2 score corresponding to random state:  52 is:  0.6226207358278237
r2 score corresponding to random state:  53 is:  0.6155010496870038
r2 score corresponding to random state:  54 is:  0.6265236642067769
r2 score corresponding to random state:  55 is:  0.6387005099242744
r2 score corresponding to random state:  56 is:  0.6131170731655644
r2 score corresponding to random state:  57 is:  0.5903249168058017
r2 score corresponding to random state:  58 is:  0.6220455894039134
r2 score corresponding to random state:  59 is:  0.6013002851448846
r2 score corresponding to random state:  60 is:  0.6162119627433595
r2 score corresponding to random state:  61 is:  0.6064459046691404
r2 score corresponding to random state:  62 is:  0.6070027524479544
r2 score corresponding to random state:  63 is:  0.612127291890402
r2 score corresponding to random state:  64 is:  0.6289599918136417
r2 score corresponding to random state:  65 is:  0.5986674860526194
r2 score corresponding to random state:  66 is:  0.5991161499215796
r2 score corresponding to random state:  67 is:  0.5996113838059022
r2 score corresponding to random state:  68 is:  0.6131499164472269
r2 score corresponding to random state:  69 is:  0.6139030202255711
r2 score corresponding to random state:  70 is:  0.6137994754725669
r2 score corresponding to random state:  71 is:  0.6059431129575915
r2 score corresponding to random state:  72 is:  0.6297813757467774
r2 score corresponding to random state:  73 is:  0.6061184026355293
r2 score corresponding to random state:  74 is:  0.6181090795395014
r2 score corresponding to random state:  75 is:  0.5938960076805699
r2 score corresponding to random state:  76 is:  0.608056772157614
r2 score corresponding to random state:  77 is:  0.6395034879070812
r2 score corresponding to random state:  78 is:  0.5848825472056142
r2 score corresponding to random state:  79 is:  0.6201819813810954
r2 score corresponding to random state:  80 is:  0.6377519650933017
r2 score corresponding to random state:  81 is:  0.5895246711260904
r2 score corresponding to random state:  82 is:  0.6371885909678638
r2 score corresponding to random state:  83 is:  0.5983988661120441
r2 score corresponding to random state:  84 is:  0.6037912508771413
r2 score corresponding to random state:  85 is:  0.6227625678482573
r2 score corresponding to random state:  86 is:  0.5743013770223155
r2 score corresponding to random state:  87 is:  0.5938071483566426
r2 score corresponding to random state:  88 is:  0.6088683883458623
r2 score corresponding to random state:  89 is:  0.592090991419256
r2 score corresponding to random state:  90 is:  0.6486846680937588
r2 score corresponding to random state:  91 is:  0.5969451141743063
r2 score corresponding to random state:  92 is:  0.6166898224008037
r2 score corresponding to random state:  93 is:  0.612968674576106
r2 score corresponding to random state:  94 is:  0.5859556537812824
r2 score corresponding to random state:  95 is:  0.6024981249085375
r2 score corresponding to random state:  96 is:  0.5704621878707152
r2 score corresponding to random state:  97 is:  0.5847349059522318
r2 score corresponding to random state:  98 is:  0.6379657446849947
r2 score corresponding to random state:  99 is:  0.591672011975549
max r2 score corresponding to 90  is  0.6486846680937588

In [52]:
from sklearn.model_selection import cross_val_score
cross_val_score(linear_model.LinearRegression(),x,y,cv=10,scoring="r2").mean()

0.6043608492116184

In [53]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
neighbors={"n_neighbors":range(1,30)}
knr=KNeighborsRegressor()
gknr = GridSearchCV(knr, neighbors, cv=10)
gknr.fit(x,y)
gknr.best_params_

{'n_neighbors': 8}

In [54]:
knr=KNeighborsRegressor(n_neighbors=8)
r_state=maxr2_score(knr,x,y)

r2 score corresponding to random state:  42 is:  0.6461145757952848
r2 score corresponding to random state:  43 is:  0.6446360928371506
r2 score corresponding to random state:  44 is:  0.646586877606169
r2 score corresponding to random state:  45 is:  0.6563828727853059
r2 score corresponding to random state:  46 is:  0.6229352808235551
r2 score corresponding to random state:  47 is:  0.6535220023945667
r2 score corresponding to random state:  48 is:  0.6773064482258474
r2 score corresponding to random state:  49 is:  0.6494555088016731
r2 score corresponding to random state:  50 is:  0.6309083474498873
r2 score corresponding to random state:  51 is:  0.657318623944357
r2 score corresponding to random state:  52 is:  0.6484821469142596
r2 score corresponding to random state:  53 is:  0.6389526932014382
r2 score corresponding to random state:  54 is:  0.6498563598684746
r2 score corresponding to random state:  55 is:  0.6440895973772972
r2 score corresponding to random state:  56 is:  0.6284700315974134
r2 score corresponding to random state:  57 is:  0.6357301044759045
r2 score corresponding to random state:  58 is:  0.677587444511579
r2 score corresponding to random state:  59 is:  0.6379379629748371
r2 score corresponding to random state:  60 is:  0.6322717369718083
r2 score corresponding to random state:  61 is:  0.645255158049987
r2 score corresponding to random state:  62 is:  0.6352766955336876
r2 score corresponding to random state:  63 is:  0.6261989714981144
r2 score corresponding to random state:  64 is:  0.6569551876730599
r2 score corresponding to random state:  65 is:  0.6519770440410431
r2 score corresponding to random state:  66 is:  0.6261165021210188
r2 score corresponding to random state:  67 is:  0.6261132987511541
r2 score corresponding to random state:  68 is:  0.6370580422991923
r2 score corresponding to random state:  69 is:  0.6692227559658104
r2 score corresponding to random state:  70 is:  0.6428988698348972
r2 score corresponding to random state:  71 is:  0.6454735062775107
r2 score corresponding to random state:  72 is:  0.6553527229980647
r2 score corresponding to random state:  73 is:  0.6358292529619107
r2 score corresponding to random state:  74 is:  0.6576883860951027
r2 score corresponding to random state:  75 is:  0.6622210743414412
r2 score corresponding to random state:  76 is:  0.6516090856523264
r2 score corresponding to random state:  77 is:  0.6783172272876572
r2 score corresponding to random state:  78 is:  0.6435292621416377
r2 score corresponding to random state:  79 is:  0.6569013057778066
r2 score corresponding to random state:  80 is:  0.6498377617418556
r2 score corresponding to random state:  81 is:  0.6505090312927253
r2 score corresponding to random state:  82 is:  0.6583969627021717
r2 score corresponding to random state:  83 is:  0.6565605435126649
r2 score corresponding to random state:  84 is:  0.6240964284385958
r2 score corresponding to random state:  85 is:  0.6542414018142201
r2 score corresponding to random state:  86 is:  0.6338125610347127
r2 score corresponding to random state:  87 is:  0.6399800289550801
r2 score corresponding to random state:  88 is:  0.6557239854406254
r2 score corresponding to random state:  89 is:  0.6384854332459418
r2 score corresponding to random state:  90 is:  0.6739264651021206
r2 score corresponding to random state:  91 is:  0.6672515947223225
r2 score corresponding to random state:  92 is:  0.6645937309264043
r2 score corresponding to random state:  93 is:  0.6486818089232586
r2 score corresponding to random state:  94 is:  0.6648370745443982
r2 score corresponding to random state:  95 is:  0.6503614395165848
r2 score corresponding to random state:  96 is:  0.6168330917630874
r2 score corresponding to random state:  97 is:  0.6433434793950895
r2 score corresponding to random state:  98 is:  0.6606085298289057
r2 score corresponding to random state:  99 is:  0.6556949889636214
max r2 score corresponding to 77  is  0.6783172272876572

In [55]:
from sklearn.model_selection import cross_val_score
print("Mean r2score for Linear Regression: ",cross_val_score(lreg,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Linear Regression: ",cross_val_score(lreg,x,y,cv=5,scoring="r2").std())
print()
print("Mean r2score for KNN Regression: ",cross_val_score(knr,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for KNN Regression: ",cross_val_score(knr,x,y,cv=5,scoring="r2").std())

Mean r2score for Linear Regression:  0.6044649706069757
Standard deviation in r2 score for Linear Regression:  0.019144563380985732

Mean r2score for KNN Regression:  0.6503212346767813
Standard deviation in r2 score for KNN Regression:  0.013484914706966108

In [56]:
from sklearn.linear_model import Lasso
lsreg=Lasso()
parameters={"alpha":[0.001,0.01,0.1,1]}
glsr = GridSearchCV(lsreg, parameters, cv=10)
glsr.fit(x,y)
glsr.best_params_

{'alpha': 1}

In [57]:
lsreg=Lasso(alpha=1)
r_state=maxr2_score(lsreg,x,y)

r2 score corresponding to random state:  42 is:  0.6003650793180785
r2 score corresponding to random state:  43 is:  0.5773373344895409
r2 score corresponding to random state:  44 is:  0.6092062390485475
r2 score corresponding to random state:  45 is:  0.6133870964512096
r2 score corresponding to random state:  46 is:  0.5959356075021769
r2 score corresponding to random state:  47 is:  0.6205535999985554
r2 score corresponding to random state:  48 is:  0.6384198190531329
r2 score corresponding to random state:  49 is:  0.6196627220069602
r2 score corresponding to random state:  50 is:  0.5807665301541531
r2 score corresponding to random state:  51 is:  0.6153818732453232
r2 score corresponding to random state:  52 is:  0.6220474713989905
r2 score corresponding to random state:  53 is:  0.6163032319816649
r2 score corresponding to random state:  54 is:  0.6256719671296215
r2 score corresponding to random state:  55 is:  0.638448649058533
r2 score corresponding to random state:  56 is:  0.6126626179033339
r2 score corresponding to random state:  57 is:  0.5908248863971666
r2 score corresponding to random state:  58 is:  0.6218702218298608
r2 score corresponding to random state:  59 is:  0.6006154447895993
r2 score corresponding to random state:  60 is:  0.6159572999034317
r2 score corresponding to random state:  61 is:  0.6074982146980903
r2 score corresponding to random state:  62 is:  0.6073419852579615
r2 score corresponding to random state:  63 is:  0.6116992517578206
r2 score corresponding to random state:  64 is:  0.6279994016881472
r2 score corresponding to random state:  65 is:  0.5989404458067649
r2 score corresponding to random state:  66 is:  0.5992504283198627
r2 score corresponding to random state:  67 is:  0.5996882764328286
r2 score corresponding to random state:  68 is:  0.6132435648235568
r2 score corresponding to random state:  69 is:  0.6133728999419029
r2 score corresponding to random state:  70 is:  0.6141415548987433
r2 score corresponding to random state:  71 is:  0.6060258660670914
r2 score corresponding to random state:  72 is:  0.629312505390893
r2 score corresponding to random state:  73 is:  0.6062472287620431
r2 score corresponding to random state:  74 is:  0.617600282027905
r2 score corresponding to random state:  75 is:  0.5947597851760456
r2 score corresponding to random state:  76 is:  0.6087631820122408
r2 score corresponding to random state:  77 is:  0.6402135797613986
r2 score corresponding to random state:  78 is:  0.5855824496000712
r2 score corresponding to random state:  79 is:  0.6209452333918488
r2 score corresponding to random state:  80 is:  0.6376500821390519
r2 score corresponding to random state:  81 is:  0.5899456771484284
r2 score corresponding to random state:  82 is:  0.6374515982029652
r2 score corresponding to random state:  83 is:  0.5990291192101367
r2 score corresponding to random state:  84 is:  0.6025533778182612
r2 score corresponding to random state:  85 is:  0.6220304618920922
r2 score corresponding to random state:  86 is:  0.5758491737804277
r2 score corresponding to random state:  87 is:  0.5951068701766546
r2 score corresponding to random state:  88 is:  0.6087643739452384
r2 score corresponding to random state:  89 is:  0.5919296186545562
r2 score corresponding to random state:  90 is:  0.6481440641730074
r2 score corresponding to random state:  91 is:  0.5979388422528986
r2 score corresponding to random state:  92 is:  0.6166116857809867
r2 score corresponding to random state:  93 is:  0.6131040046156762
r2 score corresponding to random state:  94 is:  0.5868545808988047
r2 score corresponding to random state:  95 is:  0.6033340910341034
r2 score corresponding to random state:  96 is:  0.5710041773958039
r2 score corresponding to random state:  97 is:  0.5852157318849978
r2 score corresponding to random state:  98 is:  0.6375661157271855
r2 score corresponding to random state:  99 is:  0.5927960896404214
max r2 score corresponding to 90  is  0.6481440641730074

In [58]:
print("Mean r2score for Lasso Regression: ",cross_val_score(lsreg,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Lasso Regression: ",cross_val_score(lsreg,x,y,cv=5,scoring="r2").std())

Mean r2score for Lasso Regression:  0.6047485710813003
Standard deviation in r2 score for Lasso Regression:  0.018564571946491377

In [59]:
from sklearn.ensemble import GradientBoostingRegressor
import warnings
warnings.filterwarnings("ignore")
gbr=GradientBoostingRegressor()
parameters={"learning_rate":[0.001,0.01,0.1,1],"n_estimators":[10,100,500,1000]}
ggbr = GridSearchCV(gbr, parameters, cv=5)
ggbr.fit(x,y)
ggbr.best_params_

{'learning_rate': 0.1, 'n_estimators': 500}

In [60]:
gbr=GradientBoostingRegressor(learning_rate=0.1,n_estimators=500)
print("Mean r2score for gradient boosting Regression: ",cross_val_score(gbr,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Gradient Boosting Regression: ",cross_val_score(gbr,x,y,cv=5,scoring="r2").std())

Mean r2score for gradient boosting Regression:  0.8325225379569632
Standard deviation in r2 score for Gradient Boosting Regression:  0.007991143647769509

In [61]:
r_state=maxr2_score(gbr,x,y)

r2 score corresponding to random state:  42 is:  0.8215649322763542
r2 score corresponding to random state:  43 is:  0.8272305513774847
r2 score corresponding to random state:  44 is:  0.8335571025580695
r2 score corresponding to random state:  45 is:  0.8445505925221193
r2 score corresponding to random state:  46 is:  0.8142218268097948
r2 score corresponding to random state:  47 is:  0.8315298918794882
r2 score corresponding to random state:  48 is:  0.8399760325457614
r2 score corresponding to random state:  49 is:  0.8342287680503265
r2 score corresponding to random state:  50 is:  0.829066540809761
r2 score corresponding to random state:  51 is:  0.8429355970516672
r2 score corresponding to random state:  52 is:  0.8464900629090819
r2 score corresponding to random state:  53 is:  0.8429634461049214
r2 score corresponding to random state:  54 is:  0.8367791158032194
r2 score corresponding to random state:  55 is:  0.8235067535299695
r2 score corresponding to random state:  56 is:  0.8332865017247006
r2 score corresponding to random state:  57 is:  0.8129121067051681
r2 score corresponding to random state:  58 is:  0.8582768007029066
r2 score corresponding to random state:  59 is:  0.8318070997162074
r2 score corresponding to random state:  60 is:  0.8378806861643147
r2 score corresponding to random state:  61 is:  0.8199615100952821
r2 score corresponding to random state:  62 is:  0.8267523343981549
r2 score corresponding to random state:  63 is:  0.8312184207475042
r2 score corresponding to random state:  64 is:  0.8319811235338694
r2 score corresponding to random state:  65 is:  0.8405948444015234
r2 score corresponding to random state:  66 is:  0.8187287822593131
r2 score corresponding to random state:  67 is:  0.8270998716468217
r2 score corresponding to random state:  68 is:  0.8239883027621586
r2 score corresponding to random state:  69 is:  0.849076869829402
r2 score corresponding to random state:  70 is:  0.817640661550577
r2 score corresponding to random state:  71 is:  0.8239201125204423
r2 score corresponding to random state:  72 is:  0.8253081767328689
r2 score corresponding to random state:  73 is:  0.8442214454414173
r2 score corresponding to random state:  74 is:  0.8403660052569404
r2 score corresponding to random state:  75 is:  0.8489112535315344
r2 score corresponding to random state:  76 is:  0.841361581320589
r2 score corresponding to random state:  77 is:  0.8463351297952639
r2 score corresponding to random state:  78 is:  0.8217320835703711
r2 score corresponding to random state:  79 is:  0.828387932789007
r2 score corresponding to random state:  80 is:  0.8519183533415249
r2 score corresponding to random state:  81 is:  0.836689382470686
r2 score corresponding to random state:  82 is:  0.8386895234955087
r2 score corresponding to random state:  83 is:  0.8361900301081931
r2 score corresponding to random state:  84 is:  0.8412748178878473
r2 score corresponding to random state:  85 is:  0.8274547450824431
r2 score corresponding to random state:  86 is:  0.8292786214273508
r2 score corresponding to random state:  87 is:  0.8070798464895191
r2 score corresponding to random state:  88 is:  0.8304110753647298
r2 score corresponding to random state:  89 is:  0.8174874205593348
r2 score corresponding to random state:  90 is:  0.8397224987396612
r2 score corresponding to random state:  91 is:  0.8377721751308833
r2 score corresponding to random state:  92 is:  0.8437264697215202
r2 score corresponding to random state:  93 is:  0.8281888702089971
r2 score corresponding to random state:  94 is:  0.827907934632036
r2 score corresponding to random state:  95 is:  0.8294545742638509
r2 score corresponding to random state:  96 is:  0.8139846090906042
r2 score corresponding to random state:  97 is:  0.8309826255947118
r2 score corresponding to random state:  98 is:  0.8510815138909116
r2 score corresponding to random state:  99 is:  0.8052183653167198
max r2 score corresponding to 58  is  0.8582768007029066

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
ada_reg=AdaBoostRegressor()
parameters={"learning_rate":[0.001,0.01,0.1,1],"n_estimators":[10,100,500,1000],"base_estimator":[lreg,lsreg,DecisionTreeRegressor()]}
gada = GridSearchCV(ada_reg, parameters, cv=5)
gada.fit(x,y)
gada.best_params_

In [63]:
ada_reg=AdaBoostRegressor(learning_rate=0.1,n_estimators=100)
print("Mean r2score for Ada boosting Regression: ",cross_val_score(ada_reg,x,y,cv=5,scoring="r2").mean())
print("Standard deviation in r2 score for Ada Boosting Regression: ",cross_val_score(ada_reg,x,y,cv=5,scoring="r2").std())

Mean r2score for Ada boosting Regression:  0.7183978887594026
Standard deviation in r2 score for Ada Boosting Regression:  0.01577823090788943

In [64]:
r_state=maxr2_score(ada_reg,x,y)

r2 score corresponding to random state:  42 is:  0.7111054731592343
r2 score corresponding to random state:  43 is:  0.7179871438412562
r2 score corresponding to random state:  44 is:  0.715414707605857
r2 score corresponding to random state:  45 is:  0.7283126361217038
r2 score corresponding to random state:  46 is:  0.7150863840366564
r2 score corresponding to random state:  47 is:  0.7248379493915913
r2 score corresponding to random state:  48 is:  0.7447126871724892
r2 score corresponding to random state:  49 is:  0.7190390610899299
r2 score corresponding to random state:  50 is:  0.7044790814742279
r2 score corresponding to random state:  51 is:  0.7380588971718194
r2 score corresponding to random state:  52 is:  0.7490679159153806
r2 score corresponding to random state:  53 is:  0.7340806328080502
r2 score corresponding to random state:  54 is:  0.7421617135027363
r2 score corresponding to random state:  55 is:  0.7332527623153
r2 score corresponding to random state:  56 is:  0.7317339153475504
r2 score corresponding to random state:  57 is:  0.7199128779346903
r2 score corresponding to random state:  58 is:  0.7245697540351679
r2 score corresponding to random state:  59 is:  0.7012634517579683
r2 score corresponding to random state:  60 is:  0.7124421814575479
r2 score corresponding to random state:  61 is:  0.7332704516455392
r2 score corresponding to random state:  62 is:  0.714582160577498
r2 score corresponding to random state:  63 is:  0.7208711164091225
r2 score corresponding to random state:  64 is:  0.7501105202991647
r2 score corresponding to random state:  65 is:  0.7131753375639645
r2 score corresponding to random state:  66 is:  0.7138708415668549
r2 score corresponding to random state:  67 is:  0.7152192725568756
r2 score corresponding to random state:  68 is:  0.7134161775878495
r2 score corresponding to random state:  69 is:  0.7307790441227295
r2 score corresponding to random state:  70 is:  0.7246443886667275
r2 score corresponding to random state:  71 is:  0.7266207435541585
r2 score corresponding to random state:  72 is:  0.7306200724235606
r2 score corresponding to random state:  73 is:  0.7380152374813191
r2 score corresponding to random state:  74 is:  0.7204485714075919
r2 score corresponding to random state:  75 is:  0.730096417926189
r2 score corresponding to random state:  76 is:  0.7220198601302923
r2 score corresponding to random state:  77 is:  0.7124291250836652
r2 score corresponding to random state:  78 is:  0.7145641019101621
r2 score corresponding to random state:  79 is:  0.7264513567032245
r2 score corresponding to random state:  80 is:  0.7494994305576618
r2 score corresponding to random state:  81 is:  0.721609941244002
r2 score corresponding to random state:  82 is:  0.7199240014909556
r2 score corresponding to random state:  83 is:  0.7175050880760028
r2 score corresponding to random state:  84 is:  0.7075600412313372
r2 score corresponding to random state:  85 is:  0.7094638827057524
r2 score corresponding to random state:  86 is:  0.6844866581958853
r2 score corresponding to random state:  87 is:  0.7187047790502163
r2 score corresponding to random state:  88 is:  0.7328476018918986
r2 score corresponding to random state:  89 is:  0.7069501846176661
r2 score corresponding to random state:  90 is:  0.7339919360313171
r2 score corresponding to random state:  91 is:  0.7144597733264015
r2 score corresponding to random state:  92 is:  0.7220717589933252
r2 score corresponding to random state:  93 is:  0.7140143029348185
r2 score corresponding to random state:  94 is:  0.7291874976251546
r2 score corresponding to random state:  95 is:  0.7194439892551063
r2 score corresponding to random state:  96 is:  0.704866769358713
r2 score corresponding to random state:  97 is:  0.7028593421094
r2 score corresponding to random state:  98 is:  0.7404750204809203
r2 score corresponding to random state:  99 is:  0.7161446730547276
max r2 score corresponding to 64  is  0.7501105202991647

# Model Selection

I choose GradientBoostingRegressor Model as my preferred model as it performs better on the above dataset.